html{
    background: rgba(114, 116, 114, 0.17);
}
body{
    margin: 0;
    padding:0;
    width:100%;
}
/*--------text--------*/
.content{
    width: 90%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
/*---------top left corner message/logo --------*/
.logo{
    position: fixed;
    float: left;
    margin: 5px 36px;
    color: rgb(194, 205, 107);
    font-family: Apple-Chancery;
    font-weight: bold;
    font-size: 35px;
}
/*----------- navigation bar on the top -------------*/
nav{
    position: fixed;
    width: 100%;
}
nav ul {
    list-style: none;
    background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}
nav.black ul{
    background: #000;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: .3s;
    text-transform: uppercase;
    line-height: 45px;
}
nav ul li a:focus{
    outline: none;
}
nav ul li a.active{
    background: #E2472F;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
}
.menu-icon{
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}
.content p{
    width: 900px;
    margin: 30px auto;

    text-align: justify;

    font-size: 20px;
    line-height: 30px;
}
/*---------------- responsive nav bar --------------*/
@media (max-width: 600px){
    .logo{
        position: fixed;
        top: 0;
        margin-top: 5px;
    }
    nav ul{
        max-height: 0px;
        background: #000;
    }
    nav .black ul{
        background: #000;
    }
    .showing{
        max-height: 20em;
    }
    nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    .menu-icon{
        display: block;
    }
}
header {
    width: 100%;
    height: 100vh;
    background: url(informationcover.jpeg) no-repeat 95% 5%;
    background-size: cover;
}
/*---------------- Slide Show at the Bottom --------------*/
.galleryContainer{
    box-sizing: border-box;
    width: 100%;
    max-width: 1150px;
    height: 700px;
    margin: auto;
    padding: 10px;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
}
.galleryContainer .slideShowContainer{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 90%;

    background-color: gainsboro;
}
.galleryContainer .slideShowContainer #playPause{
    position: absolute;
    z-index: 5;
    width: 40px;
    height: 32px;
    margin: 5px;

    cursor: pointer;

    background-image: url(images/playPause.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;
}
.galleryContainer .slideShowContainer .imageHolder{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}
.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;

    width: 50px;
    height: 72px;

    transition: background 0.5s;
    transform: translateY(-50%);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #00000036;
}
.galleryContainer .slideShowContainer .rightArrow{
    right: 0;
    left: auto;

    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    cursor: pointer;

    background: #000000a8;
}
.galleryContainer .arrow{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 10px;
    height: 10px;
    margin: auto;

    border: 3px solid white;
    border-bottom: none;
    border-left: none;
}
.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}


.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    z-index: 1;
    bottom: 0;

    overflow: hidden;

    width: 100%;
    height: 50px;

    text-align: center;

    color: white;
    background: #00000047;

    font-family: sans-serif;
    font-size: 20px;
    line-height: 50px;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;
}

.galleryContainer #dotsContainer{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    padding-top: 20px;

    text-align: center;
}
.galleryContainer #dotsContainer .dots{
    display: inline-block;

    width: 15px;
    height: 15px;
    margin-left: 5px;

    cursor: pointer;
    transition:background-color 0.5s;

    border-radius: 50%;
    background-color: #bbb;
}
.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;
}
.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;

    animation-fill-mode:forwards;
}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;

    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;

    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;

    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromBottom {
    from {margin-top: 100px;opacity: 0;}
    to {margin-top: 0px;opacity: 1;}
}
.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromTop {
    from {margin-top: -100px;opacity: 0;}
    to {margin-top: 0px;opacity: 1;}
}
